*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: normal 1.6rem 'Roboto', sans-serif;
  background: var(--background-color);
}

.App {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'navbar header'
    'navbar content';
  height: 100vh;
  color: var(--main-white);

  @media screen and (max-width: 1000px) {
    grid-template-columns: auto 1fr;
    height: unset;
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'content';
  }
}
