.navbar {
  grid-area: navbar;
  background-color: var(--main-accent);
  padding: 3rem;

  @media screen and (max-width: 600px) {
    display: none;
  }

  .nav-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 3rem;
    font-weight: bold;
  }

  .nav-item {
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }

  .nav-contents {
    list-style: none;
    display: grid;
    gap: 2rem;

    .nav-content {
      cursor: pointer;
      font-size: 2.25rem;
      margin-left: 0.75rem;
      display: flex;
      align-items: center;
      gap: 1.75rem;
      text-decoration: underline transparent;
      text-underline-position: under;
      transition: 200ms ease-out;

      &:hover {
        filter: brightness(0.9);
        text-decoration-color: white;
      }

      &.active {
        font-weight: bold;
      }

      &.first {
        margin-top: 5rem;
      }
    }
  }
}
