:root {
  --main-accent: #1992d4;
  --secondary-accent: #facc15;
  --background-color: #e2e8f0;
  --main-white: #ffffff;
  --main-text: #000000;
  --secondary-text: #6a6a6a;
  --marin-picture: url('https://c.tenor.com/mFX0gzBmX68AAAAC/marin-wink-marin-cool.gif');
  --marin-picture-two: url('https://c.tenor.com/XQXzBqs3utEAAAAM/marin-kitagawa.gif');
  --emilia-picture: url('https://c.tenor.com/PLB0sT1dDfYAAAAC/anime-cute.gif');
  --violet-picture: url('https://c.tenor.com/fLKkMv91TpIAAAAC/violet-evergarden-anime.gif');
  --kurisu-picture: url('https://c.tenor.com/LUWaUT_8ahkAAAAC/makise-kurisu.gif');
  --haruhi-picture: url('https://i.pinimg.com/originals/2b/cb/9b/2bcb9be39da029e8f70fe617d492dae3.gif');
}

html {
  font-size: 62.5%;
}
