:root {
  --main-accent: #1992d4;
  --secondary-accent: #facc15;
  --background-color: #e2e8f0;
  --main-white: #ffffff;
  --main-text: #000000;
  --secondary-text: #6a6a6a;
  --marin-picture: url('https://c.tenor.com/mFX0gzBmX68AAAAC/marin-wink-marin-cool.gif');
}

html {
  font-size: 62.5%;
}
